body {
    padding: 0px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    
    
}

.footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    height: 100px;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: large;
    gap: 32px;
    margin-right: 32px;
    list-style: none;
    color: white;
    
}

.logo {
    height: 100px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content1 {
    background-image: url(image/fire.jpg);
    height: 1080px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.c1_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 200px;
}
.c1_title {
    font-size: 60px;
    margin: 0px;
}

.c1_content {
    width: 500px;
    padding:0px;
    font-size: 30px;
    font-weight: 600;
    
}

.c1_button {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 20px 80px;
    font-size: 30px;
    border: 0px;
    border-radius: 15px;
}

.content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(image/formation.jpg);
    height: 1080px;
    justify-content: center;
}

.content2::before {
    content: "";
    background-color: black;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.35;
}

.c2_title {
    position: relative;
    color: white;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 15px 15px 20px black;
    align-self: flex-start;
}

.leblocks {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_img {
    box-shadow: 5px 5px 20px black;
}

.des {
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 235px;
    
}